.menu-toggle {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #30363d;
  border: 1px solid transparent;
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-out;
}

.menu-toggle img {
  width: 22px;
  height: 22px;
}

.menu-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  padding-top: 12vh;
  align-items: flex-start;
  z-index: 99;
}

.menu-modal {
  width: 350px;
  max-height: 75vh;
  background: #161b22;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* important */
  padding: 18px 14px;
}

/* FIXED TOP AREA */
.menu-header {
  padding-bottom: 10px;
  background: #161b22;
}

.menu-header h4 {
  margin: 0;
}

/* Search input */
/* Wrap input + icon */
.search-wrapper {
  position: relative;
}

/* The magnifying glass icon */
.search-icon {
  position: absolute;
  left: 12px;
  top: 48%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 14px;
}

/* Input with left padding for icon */
.menu-search {
  padding: 10px 14px 10px 34px;
  border-radius: 3rem;
  border: 0;
  background: #1f2937;
  outline: none;
  font-size: 0.8rem;
  width: calc(100% - 34px - 14px);
}

.menu-search:focus {
  border-color: #58a6ff;
}

/* SCROLL AREA */
.menu-scroll {
  overflow-y: auto;
  max-height: 60vh;
}

/* Token item */
.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
}

.menu-item:hover {
  background: #21262d;
}

.menu-item img {
  width: 26px;
  height: 26px;
}

.menu-info small {
  color: #aaa;
}

.menu-empty {
  text-align: center;
  padding: 20px;
  color: #777;
}

.placeholder-icon {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #3a3f44;
  color: #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

.placeholder-text {
  color: #aaa;
  font-size: 0.75rem;
}

.toggle-base-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.invalid {
  border: 1px solid #a00707;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}

.modal-close-btn {
  background: transparent;
  border: none;
  color: #888;
  font-size: 20px;
  cursor: pointer;
  padding: 4px;
  line-height: 1;
  transition: color 0.2s ease, transform 0.2s ease;
}

.modal-close-btn:hover {
  color: #fff;
  transform: scale(1.05);
}

.modal-close-btn:active {
  transform: scale(0.9);
  color: #ccc;
}
